# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# SQLite databases
*.db

# Flask instance folder
instance/

# Node modules
frontend/node_modules/

# React build output
frontend/dist/

# OS files
.DS_Store